:root {
    --bg-color:#33334d;
    --fg-color:#ffffff;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--fg-color);
    }

#main-body {
    margin: 1%
    }

#title {
    text-align: center;
    }


#grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    }


#map-div {
    grid-column: 1 / span 4;
    }

#map-graph {
    margin: 0%;
    }    


#right-column {
    grid-column: 5;
    justify-content: center;
    display: flex;
    border-style: solid;
    border-color: gray;
    margin: 0%;
    }


#graph-graph {
    margin-top: 1%;
    }
    